<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

</head>
<body class="bg-gray-100 p-8">
    <h2 class="text-3xl font-semibold mb-6">Welcome to Admin Dashboard</h2>
    
    <!-- Add a form to add a new book -->   
    <div class="flex justify-left w-1/2">
    <form action="" method="post" class="mb-6 ml-2">
        {% csrf_token %}
        <div class="flex-col mb-4 w-1/2">
            <label for="title" class="font-semibold mb-1">Title:</label>
            <input type="text" id="title" name="title" required class="form-input shadow-md">
        </div>
        <div class="flex-col mb-4 w-1/2">
            <label for="author" class="font-semibold mb-1">Author:</label>
            <input type="text" id="author" name="author" required class="form-input shadow-md">
        </div>
        <div class="flex-col mb-4 w-1/2">
            <label for="number_of_pages" class="font-semibold mb-1">Number of Pages:</label>
            <input type="number" id="number_of_pages" name="number_of_pages" required class="form-input shadow-md">
        </div>
        <button type="submit" name="add_book" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Add Book</button>
    </form>
</div>

    <!-- Display all rentals with the option to change rental date -->
    <h3 class="text-xl font-semibold mb-4">Rental Details</h3>
    <table class="w-full bg-white shadow-md rounded-lg overflow-hidden">
        <thead class="bg-gray-200">
            <tr>
                <th class="py-2 px-4 text-left">Student</th>
                <th class="py-2 px-4 text-left">Book</th>
                <th class="py-2 px-4 text-left">Rental Date</th>
                <th class="py-2 px-4 text-left">Return Date</th>
                <th class="py-2 px-4 text-left">Fee</th>
                <th class="py-2 px-4 text-left">Change Rental Date</th>
            </tr>
        </thead>
        <tbody>
            {% for rental in rentals %}
            <tr class="{% cycle 'bg-gray-50' '' %}">
                <td class="py-2 px-4">{{ rental.user.name }}</td>
                <td class="py-2 px-4">{{ rental.book }}</td>
                <td class="py-2 px-4">{{ rental.rental_date }}</td>
                <td class="py-2 px-4">{{ rental.return_date }}</td>
                <td class="py-2 px-4">{{ rental.fee|floatformat:2 }}</td>
                <td class="py-2 px-4">
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="rental_id" value="{{ rental.id }}">
                        <input type="date" name="new_rental_date" required class="form-input">
                        <button type="submit" name="change_rental_date" class="bg-blue-500 text-white px-2 py-1 rounded hover:bg-blue-600">Change Date</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="" method="post" class="mt-4 mb-4">
        {% csrf_token %}
        <button type="submit" name="logout" class="text-red-600 font-bold"><i class="fas fa-power-off m-1"></i>Logout</button>
    </form>
</body>
</html>
