<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Rental Platform</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <style>
        
        .container {
            max-width: 800px;
            margin: 0 auto;
            text-align: center;
        }
        .content {
            background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
            padding: 40px;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="content">
            <h1 class="text-3xl font-semibold mb-4">Welcome to Book Rental Platform</h1>
            <p class="text-lg mb-4">This is a platform where you can rent books.</p>
            
            <!-- If user is not logged in, show the login link -->
            {% if not request.user.is_authenticated %}
                <p class="text-lg mb-4">Please <a href="{% url 'user_login' %}" class="text-blue-500 hover:underline">login <i class="fas fa-sign-in-alt"></i></a> to access the platform.</p>
            {% else %}
            <p class="text-lg mb-4">Go here{% if get_added_user.role == 'Admin' %}<a href="{% url 'admin_dashboard' %}" class="text-blue-500 hover:underline">{% else %} <a href="{% url 'student_dashboard' %}" class="text-blue-500 hover:underline">{% endif %}<i class="fas fa-sign-in-alt"></i></a> to access the platform.</p>
            {% endif %}
            
            <!-- Your other content -->
        </div>
    </div>
</body>
</html>
