<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Rented Books</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

</head>
<body class="bg-gray-100 p-8">
    <h2 class="text-3xl font-semibold mb-4">Hey {{ request.user }}!!</h2>
    <div class="mt-4 mb-4 rounded-md border border-blue-600 w-36 text-center p-1">
        <a href="{% url 'student_dashboard' %}" class="font-bold text-blue-600"><i class="fas fa-backward p-1"></i> Back</a>
        </div>
    <!-- Add admin-specific content here -->
    <p class="text-lg mb-4">Here are all the rented books:</p>
    <table class="w-full bg-white shadow-md rounded-lg overflow-hidden">
        <thead class="bg-gray-200">
            <tr>
                <th class="py-2 px-4 text-left">Book name</th>
                <th class="py-2 px-4 text-left">Author</th>
                <th class="py-2 px-4 text-left">Rented Date</th>
                <th class="py-2 px-4 text-left">Return Date</th>
                <th class="py-2 px-4 text-left">Fee</th>
            </tr>
        </thead>
        <tbody>
            {% for book in rented_books %}
            <tr class="{% cycle 'bg-gray-50' '' %}">
                <td class="py-2 px-4">{{ book.book.title }}</td>
                <td class="py-2 px-4">{{ book.book.author }}</td>
                <td class="py-2 px-4">{{ book.rental_date }}</td>
                <td class="py-2 px-4">{{ book.return_date }}</td>
                <td class="py-2 px-4">{{ book.calculate_rental_fee |floatformat:2 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
