<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 p-8">
    <h2 class="text-3xl font-semibold mb-6">Welcome to Student Dashboard</h2>
    <div class="mt-4 mb-4 rounded-md border border-green-600 w-60 text-center p-1">
    <a href="{% url 'rented_books_details' %}" class="font-bold text-green-600"><i class="fas fa-eye p-1"></i> View Rented Books</a>
    </div>
    <!-- Display any error messages -->
    {% if error %}
        <p class="text-red-500">{{ error }}</p>
    {% endif %}
    
    <!-- Form to search for a book -->
    <form action="" method="post" class="mb-6">
        {% csrf_token %}
        <label for="book_title" class="block mb-2 font-semibold">Enter Book Title:</label>
        <input type="text" id="book_title" name="book_title" class="form-input mb-2 h-9 p-4 shadow-md">
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Search</button>
    </form>

    <!-- Display book details if available -->
    {% if book %}
        <div class="mb-6">
            <h3 class="text-xl font-semibold mb-2">Book Details</h3>
            <p class="mb-2"><span class="font-semibold">Title:</span> {{ book.title }}</p>
            <p class="mb-2"><span class="font-semibold">Author:</span> {{ book.author }}</p>
            <p class="mb-2"><span class="font-semibold">Number of Pages:</span> {{ book.number_of_pages }}</p>
            
            <!-- Form to rent the book -->
            <form action="{% url 'rent_book' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="book_id" value="{{ book.id }}">
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Rent Book</button>
            </form>
        </div>
    {% endif %}
    <form action="" method="post" class="mt-4 mb-4">
        {% csrf_token %}
        <!-- Your existing dashboard content -->
        <button type="submit" name="logout" class="text-red-600 font-bold"><i class="fas fa-power-off m-1"></i>Logout</button>
    </form>
</body>
</html>
